.navbar-middle.seller a {
  color: #f8f9fa !important;
  padding-left: 20px;
  text-decoration: none;
}
.navbar-middle.seller a:hover {
  color: #e6e7e9;
  text-decoration: underline;
}
.bg {
  background: rgb(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99998;
  display: none;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  color: var(--primary-color);
  background: var(--bg-color);
  margin: 0 0 100px;
  padding: 0;
}
.default-btn {
  background: var(--btn-bg-color);
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  font-weight: 500;
  padding: 3px 14px;
  transition: var(--transition);
}
.btn-transparent {
  background: transparent;
  border: transparent;
}
.default-btn:hover {
  background: var(--primary-color);
  color: var(--bg-color);
}
.btn-delete {
  background: var(--primary-color);
  color: white;
}
.not-found-container {
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
}
.not-found-container h1 {
  font-size: 10rem;
  color: var(--primary-color);
  background-image: linear-gradient(45deg, #5433ff, #20bdff, #a5fecb);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.not-found-container p {
  font-size: 1.8rem;
}
.navbar-section {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  max-width: 1300px;
}
.top-nav {
  position: fixed;
  z-index: 999;
  top: 24px;
  width: 100%;
  background: white;
  border-bottom: 1px solid #d4cfcf;
  box-shadow: 1px 1px 9px -2px #d4cfcf;
  transition: var(--transition-quick);
}
.top-nav-scroll {
  top: 0;
}
.tiny-nav {
  position: relative;
  top: 0;
  width: 100%;
  background: #efefef;
  height: 25px;
}
.top-nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tiny-nav .container {
  display: flex;
  justify-content: space-between;
}
.nav-logo {
  width: 40px;
  object-fit: cover;
}
.logo-text {
  font-size: 24px;
  font-weight: 500;
}
.navbar-middle {
  position: relative;
}
.search-bar {
  width: 450px;
  padding: 4px 12px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #efefef;
  border: 1px solid #c2c2c2;
}
.navbar-search-icon {
  position: relative;
  left: -25px;
  color: #383535;
  border: transparent;
  padding: 0;
  background: #efefef;
}
.navbar-search-box {
  display: none;
  position: absolute;
  min-height: 80px;
  max-height: 320px;
  width: 450px;
  padding: 4px 12px;
  background: rgb(252, 252, 252);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border: 1.1px solid #a19f9f;
  border-top: none;
  z-index: 1000;
  overflow-y: auto;
}
.navbar-search-box::-webkit-scrollbar {
  width: 3px;
}
.navbar-search-box::-webkit-scrollbar-track {
  background: #dddddd;
}
.navbar-search-box::-webkit-scrollbar-thumb {
  background: #acaaaa;
}
.navbar-search-box::-webkit-scrollbar-thumb:hover {
  background: #c2c2c2;
}
.navbar-search-results {
  position: relative;
  padding-top: 5px;
  left: 10px;
  width: 95%;
}
.navbar-search-results .search-results-section {
  margin-bottom: 0px;
  overflow: hidden;
  white-space: nowrap;
}
.navbar-search-results .search-results-section .header {
  font-weight: bold;
  font-size: 15px;
}
.navbar-search-box-bottom {
  position: relative;
  border-top: 1px solid #dbdbdb;
  padding-top: 5px;
  bottom: 0px;
  left: 10px;
  width: 95%;
}
.latest-searches {
  margin-top: -10px;
  font-size: 14px;
  color: var(--text-muted);
}
.latest-search-item {
  font-size: 14px !important;
  font-weight: normal !important;
  cursor: pointer;
  transition: 0.3s;
  margin-top: -12px;
  padding: 3px;
}
.latest-search-item:hover {
  background: #efefef;
}
.navbar-search-box-bottom p {
  font-weight: bold;
  font-size: 15px;
}
.navbar-search-box-bottom span {
  display: block;
  margin-top: 2px;
  font-weight: normal;
  font-size: 14px;
}
.navbar-search-box-bottom .navbar-search-box-top {
  display: flex;
  justify-content: space-between;
}
.navbar-search-box-active {
  display: block;
}
.navbar-right {
  padding-bottom: 12px;
}
.navbar-right a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 18px;
  padding-left: 20px;
}
.navbar-right a:hover {
  color: #635e5e;
}
.navbar-middle form {
  display: flex;
  align-items: center;
}
.burger-icon {
  font-size: 30px;
  display: none;
  background: transparent;
  border: transparent;
}
.nav-category {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 15px;
  padding: 5px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 6px;
  margin-left: -30px;
  width: 200px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.container.dropdown {
  margin-top: 100px;
}
.category-list {
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.category-list::-webkit-scrollbar {
  height: 3px;
}
.category-list::-webkit-scrollbar-track {
  background: #dddddd;
}
.category-list::-webkit-scrollbar-thumb {
  background: #acaaaa;
}
.category-list::-webkit-scrollbar-thumb:hover {
  background: #c2c2c2;
}
.category-list li {
  width: 100%;
  text-align: center;
}
.nav-category:hover {
  cursor: pointer;
  box-shadow: inset 0 -2px 0 0 var(--primary-color);
  background: #efefef;
}
.nav-mobile {
  position: fixed;
  z-index: 999999;
  background: white;
  right: 0;
  top: 0;
  height: 100vh;
  width: 0;
  transition: 0.5s;
  overflow-x: hidden;
}
.nav-mobile,
.nav-mobile a {
  color: white !important;
}
.nav-active {
  border-left: 1px solid #c2c2c2;
  width: 60%;
  color: var(--primary-color) !important;
}
.nav-active a {
  color: var(--primary-color) !important;
}
.mobile-nav-links {
  padding: 0;
}
.mobile-nav-middle {
  margin-top: 10px;
}
.nav-mobile .burger-icon {
  padding-left: 20px;
}
.mobile-nav-links li {
  list-style-type: none;
  padding: 10px 20px;
}
.nav-mobile-top {
  border-bottom: 1.2px solid #c2c2c2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile-nav-links li:hover {
  background: #efefef;
}
.mobile-nav-links a {
  text-decoration: none;
  color: var(--primary-color);
  font-size: 18px;
}
.mobile-logo-text {
  font-size: 24px;
  font-weight: 500;
  padding-right: 10px;
}
.mobile-nav-bottom {
  position: absolute;
  bottom: 15px;
}
.mobile-logo {
  width: 70px;
}
.mobile-nav-icon {
  margin-top: -5px;
}
@media only screen and (max-width: 1360px) {
  .nav-category:last-child .dropdown-content {
    margin-left: -65px;
  }
  .nav-category:first-child .dropdown-content {
    margin-left: -5px;
  }
}
@media only screen and (max-width: 1260px) {
  .nav-category:last-child .dropdown-content {
    margin-left: -80px;
  }
}
@media only screen and (max-width: 1130px) {
  .nav-category:last-child .dropdown-content {
    margin-left: -90px;
  }
  .navbar-right a {
    font-size: 16px;
  }
}

@media only screen and (max-width: 1100px) {
  .logo-text {
    display: none;
  }
}

@media only screen and (max-width: 1030px) {
  .nav-category:last-child .dropdown-content {
    margin-left: -100px;
  }
}
@media only screen and (max-width: 996px) {
  .nav-category:last-child .dropdown-content {
    margin-left: -110px;
  }
}
@media only screen and (max-width: 990px) {
  .navbar-right a {
    display: none;
  }
  .burger-icon {
    margin-top: 15px;
    display: flex;
  }
}
@media only screen and (min-width: 890px) {
  .nav-category:hover .dropdown-content {
    display: block;
  }
}

@media only screen and (max-width: 612px) {
  .search-bar,
  .navbar-middle {
    width: 100%;
  }
  .navbar-search-box {
    width: 96.5%;
  }
  .nav-logo {
    width: 50px;
  }
}
@media only screen and (max-width: 512px) {
  .tiny-nav-left {
    display: none;
  }
  .tiny-nav .container {
    justify-content: center;
    font-size: 14px;
  }
  .navbar-search-box {
    width: 96%;
  }
}
@media only screen and (max-width: 480px) {
  .navbar-search-box {
    width: 95.6%;
  }
}
@media only screen and (max-width: 450px) {
  .container {
    width: 100%;
  }
  .navbar-search-box {
    width: 95%;
  }
  .navbar-search-box-bottom,
  .navbar-search-results {
    left: 8px;
  }
}
@media only screen and (max-width: 426px) {
  .navbar-search-box {
    width: 94.7%;
  }
}
@media only screen and (max-width: 400px) {
  .navbar-search-box {
    width: 94.2%;
  }

  .navbar-search-box-bottom,
  .navbar-search-results {
    left: 4px;
  }
}
@media only screen and (max-width: 376px) {
  .navbar-search-box {
    width: 93.8%;
  }
}
@media only screen and (max-width: 360px) {
  .navbar-search-box {
    width: 93%;
  }
}
