.wishlist-top {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 20px;
  border: 1px solid #dedede;
  border-radius: 3px;
}

.wishlist-top .left {
  display: flex;
}

.wishlist-top .navbar-middle {
  display: flex;
  align-items: center;
}

.wishlist-container,
.cart-container {
  margin-top: 20px;
}

.cart-container .no-item {
  text-align: center;
}

.wishlist-container .no-item {
  text-align: center;
  margin-top: 50px;
}

#shopping-cart-title {
  font-weight: 500;
}

#shopping-cart-img {
  height: 160px !important;
  width: 160px !important;
}

.wishlist-options span:hover {
  text-decoration: underline !important;
}

.proceed-to-checkout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.proceed-to-checkout button {
  padding: 3px 5px;
  font-size: 15px;
}

@media only screen and (max-width: 576px) {
  .wishlist-top .left {
    display: block;
  }
  .wishlist-top .left span {
    padding: 0;
  }

  #shopping-cart-section {
    font-size: 15px;
  }
}

@media only screen and (max-width: 470px) {
  .wishlist-top .left {
    display: flex;
  }

  .wishlist-top .left span {
    padding-left: 10px;
    padding-top: 5px;
  }

  .wishlist-top {
    display: block;
  }

  .wishlist-top input {
    width: 100% !important;
  }

  .wishlist-img {
    height: 150px !important;
    width: 150px !important;
  }

  #shopping-cart-section {
    font-size: 14px;
  }

  #shopping-cart-title {
    font-weight: 400;
  }
}

@media only screen and (max-width: 450px) {
  .wishlist-top {
    padding: 15px;
  }

  #shopping-cart-img {
    height: 120px !important;
    width: 120px !important;
  }
}

@media only screen and (max-width: 400px) {
  .wishlist-img {
    height: 130px !important;
    width: 130px !important;
  }
  #shopping-cart-img {
    height: 100px !important;
    width: 100px !important;
  }
}

@media only screen and (max-width: 370px) {
  .wishlist-options .option-2 {
    display: block !important;
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 330px) {
  .proceed-to-checkout button {
    padding: 3px !important;
    font-size: 14px !important;
  }
}
